.card {
  flex: 1;
  cursor: pointer;
}

.card:not(:last-child) {
  margin-right: 15px;
}

.card__cases {
  color: #ff3300;
  font-weight: 1000 !important;
  font-size: 1.5rem !important;
  margin-bottom: 0.2rem !important;
}

.card__total {
  color: #415058;
  font-weight: 700 !important;
  font-size: 1.25rem !important;
}

.card:hover {
  background-color: #dcdcdc;
}
