.map {
  height: 500px;
  width: auto;
  background-color: white;
  margin-top: 20px;
  padding: 1rem;
  border-radius: 20px;
}

.map .leaflet-container {
  height: 100%;
}

.info-flag {
  width: 100%;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.info-name {
  font-weight: bold;
}

.info-center {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
}
