* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.app__header > h2 {
  font-size: 2rem;
  color: #ff3300;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.app__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

h2 {
  color: #415058;
  margin-top: 15px;
}
